div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader span{}
.selector,
.radio,
.checker,
.uploader,
.selector *,
.radio *,
.checker *,
.uploader *{margin:0;padding:0;}
.selector select:focus, .radio input:focus, .checker input:focus, uploader input:focus{outline:0;}
div.selector,
div.checker,
div.radio,
div.uploader{position:relative;overflow:hidden;}
div.selector span,
div.checker span ,
div.radio span{display:block;}
div.checker span ,
div.radio span{text-align:center;}
div.selector, div.uploader{display:inline-block;max-width:480px;}
div.selector select, div.checker input, div.radio input, div.uploader input{opacity:0;border:none;background:none;}
div.selector select{position:relative;display:block;margin:-1px 2px 0}
div.selector span{overflow:hidden;position:absolute;left:10px;right:0;top:0;bottom:0;text-overflow:ellipsis;white-space:nowrap;cursor:pointer;}
div.checker input,
div.radio input{display:inline-block;text-align:center;}
div.uploader span{position:absolute;display:block;overflow:hidden;top:0;bottom:0;text-overflow:ellipsis;white-space:nowrap;z-index:0;}
div.uploader input{display:block;position:relative;font-size:999px;z-index:1;}
div.uploader span.action{right:0;cursor:pointer;}
div.uploader span.filename{left:0;}
div.selector{width:auto;font-size:12px;}
div.selector select{font-size:12px;height:25px;}
div.selector option{}
div.selector.disabled span{color:#bbb;}
div.checker,
div.checker input,
div.checker span{height:19px;width:19px;}
div.checker{margin-right:10px;}
div.radio,
div.radio input,
div.radio span{height:18px;width:18px;}
div.radio{margin-right:10px;}
div.uploader:after, div.uploader .after_uploader{display:block;overflow:hidden;position:absolute;content:"";top:1px;bottom:1px;width:1px;right:90px;background:#ddd;}
div.uploader span.action{line-height:28px;color:#888;font-size:10px;width:90px;text-indent:5px;}
div.uploader span.filename{text-indent:10px;line-height:28px;right:90px;}
div.uploader input{height:28px;}
div.selector{line-height:23px;height:23px;border:1px solid #7d7d7d;}
div.selector:before, div.selector:after{display:block;overflow:hidden;position:absolute;content:"";top:0;right:0;height:23px;width:29px;cursor:pointer;z-index:10;border-left:1px solid #7d7d7d;background:#e1e1e4;}
div.selector:after{top:50%;bottom:auto;width:0;height:0;right:10px;margin-top:-2px;border:4px solid transparent;border-top-color:#7d7d7d;background:none;}
div.selector span{height:23px;line-height:23px;}
div.selector select{top:0px;left:0px;height:100%;margin:0;z-index:100;}
div.selector:active, div.selector.active{background-position:-483px -156px;}
div.selector:active span, div.selector.active span{background-position:right -26px;}
div.selector.focus, div.selector.hover, div.selector:hover{background-position:-483px -182px;}
div.selector.focus span, div.selector.hover span, div.selector:hover span{background-position:right -52px;}
div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover{background-position:-483px -208px;}
div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span{background-position:right -78px;}
div.selector.disabled{background-position:-483px -234px;}
div.selector.disabled span{background-position:right -104px;}
div.checker span{background-position:0px -260px;}
div.checker:active span,
div.checker.active span{background-position:-19px -260px;}
div.checker.focus span,
div.checker:hover span{background-position:-38px -260px;}
div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span{background-position:-57px -260px;}
div.checker span.checked{background-position:-76px -260px;}
div.checker:active span.checked,
div.checker.active span.checked{background-position:-95px -260px;}
div.checker.focus span.checked,
div.checker:hover span.checked{background-position:-114px -260px;}
div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked{background-position:-133px -260px;}
div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span{background-position:-152px -260px;}
div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked{background-position:-171px -260px;}
div.radio span{background-position:0px -279px;}
div.radio:active span,
div.radio.active span{background-position:-18px -279px;}
div.radio.focus span,
div.radio:hover span{background-position:-36px -279px;}
div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span{background-position:-54px -279px;}
div.radio span.checked{background-position:-72px -279px;}
div.radio:active span.checked,
div.radio.active span.checked{background-position:-90px -279px;}
div.radio.focus span.checked, div.radio:hover span.checked{background-position:-108px -279px;}
div.radio.focus:active span.checked,
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked{background-position:-126px -279px;}
div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span{background-position:-144px -279px;}
div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked{background-position:-162px -279px;}
div.uploader span.filename{background-position:0 -297px;}
div.uploader span.action{background-position:right -409px;}
div.uploader.focus span.filename,
div.uploader.hover span.filename,
div.uploader:hover span.filename{background-position:0px -353px;}
div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action{background-position:right -437px;}
div.uploader.active span.action,
div.uploader:active span.action{background-position:right -465px;}
div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action{background-position:right -493px;}
div.uploader.disabled span.filename{background-position:0px -325px;}
div.uploader.disabled span.action{background-position:right -381px;}